/* common related styles */
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Work Sans', sans-serif;
}

/* banner related styles */

header{
    background-image: url('../images/banner/banner3.png');
    background-position: center;
    background-size: cover;
    align-items: center;
}

.banner-part{
    text-align: right;
    padding: 216px 230px 166px 876px;
}

.banner-title{
    color: white;
    font-size: 65px;
    font-weight: 700;
}

.banner-description{
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 24px 0 32px;
}

.banner-btn{
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    text-align: right;
    padding: 20px 25px;
    border-radius: 5px;
}

/* section related style */
section{
    margin-top: 130px;
    padding: 0 230px;
}

/* my failure part style */

.my-failures-part{
    display: flex;
    align-items: center;
    width: 1072px;
    margin: 0 auto;
    gap: 87px;
}

.failures-part-title{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}

.failures-part-description{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 24px 0 16px;
}

.right-part > ul{
    list-style-type: square;
    
}

.bulet-point-list li{
    color: #009322;
   
}


.bulet-point-list li a{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 8px;
    text-decoration: none;
}

/* my plane related style */

.my-plan-title{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
}

.my-plan-chart{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
}

.element-title{
    color: #151414;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 16px;
}

.element-description{
    color: #737272;
    font-size: 25px;
    font-weight: 500;
}
